[Unit]
Description=Sentry background worker.
After=network.target
PartOf=sentry.service

[Service]
User=sentry
Restart=always
ExecStart=/opt/sentry/bin/sentry --config=/etc/sentry run worker --loglevel=ERROR

[Install]
WantedBy=multi-user.target
