pkgbase = opentoonz
	pkgdesc = 2D animation software based on Toonz Studio Ghibli Version.
	pkgver = 1.1.3
	pkgrel = 1
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = git
	makedepends = make
	depends = cblas
	depends = lzo
	depends = sdl2
	depends = qt5-script
	depends = superlu
	depends = glew
	depends = freeglut
	depends = qt5-multimedia
	conflicts = opentoonz-git
	source = git+https://github.com/opentoonz/opentoonz.git#tag=v1.1.3
	source = opentoonz.desktop
	source = opentoonz.png
	md5sums = SKIP
	md5sums = 0b47406a1aae0326e77c5768283c9f65
	md5sums = 3d8620258a66ee0f58c91ea6a38e33c1

pkgname = opentoonz

